* {
    box-sizing: border-box;
}

body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

nav {
    display: flex;
    align-items: center;
    height: 65px;
    color: white;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
}

.troll-face {
    height: 100%;
    margin-right: 6px;
}

.meme-heading {
    font-style: normal;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: -0.1em;
    margin-right: auto;
    color: #FFFFFF;
}

.project-titile {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 15px;
    color: #FFFFFF;
}

.form-container {
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 30px;
    width: 90%;
    padding-top: 20px;
    padding-right: 100px;
    padding-left: 200px;
}

.user-input {
    font-family: 'Karla', sans-serif;
    font-style: normal;
    text-indent: 5px;
    border-radius: 5px;
    border: #D5D4D8 1px solid;
}

.button-text {
    grid-column: 1 / -1;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
    color: white;
    border: none;
    cursor: pointer;
}

.meme-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    padding-top: 20px;
    padding-left: 200px;
    position: relative;
}

.meme-text {
    position: absolute;
    font-family: 'Impact';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    left: 43%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.meme-image {
    width: 100%;
    border-radius: 2px;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}